<!-- Footer -->
<footer id="main-footer" class="py-4 text-white text-center" style="background-color: orange;">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">Find Any Rooms for your Convinience</p>
            </div>
    
            <div class="col-md-6">
                <h5 class="text-white">Connect</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a  href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                    <li class="list-group-item"><a href="#"><i class="fab fa-youtube"></i> Youtube</a></li>
                    <li class="list-group-item"><a href="#"><i class="fab fa-twitter"></i> twitter</a></li>
                    <li class="list-group-item"><a href="#"><i class="fab fa-facebook"></i> facebook</a></li>
                </ul>
            </div>
        </div>
    </div>

    Copyright &copy;
    <span class="year"></span> Students Accomodation
</footer>